.container{
    margin: 0 auto;
    max-width: 320px;
 ;
}

.list{
display: flex;
flex-wrap: wrap;
list-style: none;
}

.item{
margin-right: 20px;
margin-top: 20px;
width: 150px;
height: 192px;
background: var(--color-backgroundTubes);
border-radius: 8px;

}

.item__2{
    margin-top: 20px;
    width: 150px;
    height: 192px;
    background: var(--color-backgroundTubes);
    border-radius: 8px;
}

.arrival{
width: 60px;
height: 16px;
margin-left: auto;
margin-top: 8px;
margin-right: 8px;
background:var(--color-green);
border-radius: 500px;
}
.arrival__text{
    font-family: 'Basis Grotesque Pro';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 130%;
text-align: center;
text-transform: capitalize;
color: var(--color-black);
}

.Tubes__img{
width: 53px;
height: 160px;
display: block;
margin: 0 auto;
}
.title{
width: 85px;
height: 32px;
margin-top: 8px;
margin-bottom: 8px;
font-family: 'Basis Grotesque Pro Mono';
font-weight: 400;
font-size: 12px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: uppercase;
color: var(--color-black);

}


.sum{
font-family: 'Basis Grotesque Pro Mono';
font-weight: 400;
font-size: 12px;
line-height: 150%;
text-align: center;
letter-spacing: 0.04em;
color:var(--color-black);
}


