.container {
  width: 320px;
  margin: 0 auto;
}

.GroupGirlies {
  display: flex;
  justify-content: center;
  align-items: self-end;
  margin-top: 20px;
  width: 320px;
  height: 320px;
  background-image: url('../../images/GroupGirlies.png');
}
.GroupGirl {
  display: flex;
  justify-content: center;
  align-items: self-end;
  margin-top: 20px;
  width: 320px;
  height: 320px;
  background-image: url('../../images/GroupGirl.png');
}
.text__box {
  margin-bottom: 42px;
}
.text__AllDay {
  font-family: 'Basis Grotesque Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-white);
}
.btn {
  width: 111px;
  height: 30px;
  margin-top: 15px;
  background: #ffffff;
  border-radius: 500px;
  border: none;
  font-family: 'Basis Grotesque Pro Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-blue);
  cursor: pointer;
}
