.FooterForm__container {
  padding-top: 22px;
}
.Content__text {
  font-family: 'Basis Grotesque Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-black);
  margin-bottom: 8px;
}

.second__text {
  font-family: 'Basis Grotesque Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.04em;
  color: var(--color-black);
  margin-bottom: 16px;
}

